{% extends 'admin/adminhomeindex.html' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="/Myapp/adminchangepwd_post/">
    {% csrf_token %}
  <table class="table table-bordered table-hover">
    <tr>
      <th>Current Password</th>
      <td><input type="text" name="textfield" class="form-control" id="textfield" required/></td>
    </tr>
    <tr>
      <th>New Password</th>
      <td><input type="text" name="textfield2" class="form-control" id="textfield2" required/></td>
    </tr>
    <tr>
      <th>Conform Password</th>
      <td><input type="text" name="textfield3" class="form-control" id="textfield3" required/></td>
    </tr>
    <tr>
      <td></td>
      <td><input type="submit" name="button" id="button" value="Submit" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}