
<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Easy Learn Login</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
        content="Report Login Form Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link href="//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
    <!--/Style-CSS -->
    <link rel="stylesheet" href="/static/login/css/style.css" type="text/css" media="all" />
    <!--//Style-CSS -->

    <link rel="stylesheet" href ="/static/login/css/font-awesome.min.css" type="text/css" media="all">

</head>

<body>

    <!-- form section start -->
    <section class="w3l-hotair-form">
        <h1>Easylearn Login</h1>
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2>Log In</h2>
                        <form id="form1" name="form1" method="post" action="/Myapp/login_post/">
                            {% csrf_token %}
                            <input type="email" class="text" name="textfield" placeholder="User Name" required="" autofocus>
                            <input type="password" class="password" name="textfield2" placeholder="User Password" required="" autofocus>
{#                            <input type="password" class="password" name="textfield2" placeholder="User Password" required="" autofocus pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">#}
                            <button class="btn" type="submit">Log In</button>
                        </form>

                        <p class="account">Don't have an account? <a href="/Myapp/signup">Register</a></p>
                        <p class="account">Forgot your password? <a href="/Myapp/forgotpswd">Reset password</a></p>
                    </div>
                    <div class="w3l_form align-self">
                        <div class="left_grid_info">
                            <img src="/static/login/images/1.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <!-- //form -->
        </div>
        <!-- copyright-->
        <div class="copyright text-center">
{#            <p class="copy-footer-29">© 2023 Login Form. All rights reserved | Design by <a#}
{#                        href="https://w3layouts.com">Sarang</a></p>#}
        </div>
        <!-- //copyright-->
    </section>
    <!-- //form section start -->
</body>

</html>