{% extends 'User/userhometemplate.html' %}
{% block body %}

<head>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
{#    <link rel="stylesheet" type="text/css" href="style.css">#}
<form id="form1" class="rating" name="form1" method="post" action="/Myapp/sentreview_post/">
    {% csrf_token %}
  <table class="table table-bordered">
{#      <form class="rating">#}


    <tr>
      <th>Rating</th>

      <td>
            <div  class="rate">
    <input type="radio" style="height: 60px;width: 60px" id="star5" name="rate" value="5" />
    <label for="star5" title="text">5 stars</label>
    <input type="radio" id="star4" name="rate" value="4" />
    <label for="star4" title="text">4 stars</label>
    <input type="radio" id="star3" name="rate" value="3" />
    <label for="star3" title="text">3 stars</label>
    <input type="radio" id="star2" name="rate" value="2" />
    <label for="star2" title="text">2 stars</label>
    <input type="radio" id="star1" name="rate" value="1" />
    <label for="star1" title="text">1 star</label>
  </div>
{#          <input type="range" name="textfield2" id="textfield2" min="0" max="5" required/>#}
      </td>
    </tr>
    <tr>
      <th>Review</th>
      <td><input type="text" name="textfield" id="textfield" required class="form-control"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Send" class="btn btn-success"/></td>
    </tr>
  </table>
</form>
</head>
{% endblock %}