<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="/Myapp/signup_post/" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table class="table table-bordered">
    <tr>
      <td>Username</td>
      <td><input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <td>Phone</td>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <td>Email</td>
      <td><input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <td>Gender</td>
      <td><p>
        <label>
          <input type="radio" name="RadioGroup1" value="Male" id="RadioGroup1_0" />
          Male</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Female" id="RadioGroup1_1" />
          Female</label>
        <br />
        <label>
          <input type="radio" name="RadioGroup1" value="Other" id="RadioGroup1_2" />
          Other</label>
        <br />
      </p></td>
    </tr>
    <tr>
      <td>Photo</td>
      <td><input type="file" name="fileField" id="fileField" /></td>
    </tr>
    <tr>
      <td>Password</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>Conform Password</td>
      <td><input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
</form>
</body>
</html>
