<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td><a href="/Myapp/viewprofile/">View Profile</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/editprofile/">Edit Profile</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/sentcomplaint/">Sent Complaint</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/viewreply/">View Reply</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/qnageneration/">Question and Answer generation</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/viewqna/">View Result</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/sentreview/">Sent review</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/userchangepwd/">Change Password</a></td>
    </tr>
    <tr>
      <td><a href="/Myapp/logout/">Logout</a></td>
    </tr>
  </table>
</form>
</body>
</html>
